@media only screen and (max-width: 610px) {
	.logo {
		display: none;
	}
}
@media only screen and (max-width: 538px) {
	.card{
		width: 180px;
	}
	.productBody h3{
	font-size: 18px;
	}
	.productBody .rank {
		color: #333;
		padding: 3px;
	}
	.productBody .rank i{
		color: #FFD800FF;
	}
	.productBody p{
		font-size: 18px;
	}
	.itemProduct .imgHead img{
		width: 146px;
		height: 170px;
	}
	.itemProduct{
		height: 170px;
	}
	.wrapperSavat h1{
		font-size: 25px;
	}
	.nameItem a{
		font-size: 16px;
	}
	.cost{
		font-size: 15px;
	}
	.nameItem{
		left: 156px;
	}
	.costRank{
		bottom: 10px;
		left: 156px;
	}

}
@media only screen and (max-width: 439px) {
	.card{
		width: 220px;
	}
	.sideBar{
		width: 100%;
	}
	.menuBar{
		width: 100%;
	}
	.products{
		grid-template-columns: 100%!important;		
	}
	.carD1{
		display: flex;
		justify-content: center!important;
	}

/*	*/

	.itemProduct .imgHead img{
		width: 106px;
		height: 130px;
	}
	.itemProduct{
		height: 130px;
	}
	.wrapperSavat h1{
		font-size: 25px;
	}
	.nameItem a{
		font-size: 16px;
	}
	.cost{
		font-size: 15px;
	}
	.nameItem{
		left: 116px;
	}
	.costRank{
		bottom: 10px;
		left: 116px;
	}
	.typ{
		bottom: 30px;
	}
	.itemBtn button a i{
		font-size: 15px!important;
		padding: none;
	}

	
}
@media only screen and (max-width: 390px) {
	.card{
		width: 220px!important;
	}
	.products{
		grid-template-columns: 100%!important;		
	}
	.sideBar{
		padding-top: 150px;
	}

/*	*/
	.itemProduct .imgHead img{
		width: 86px;
		height:110px;
	}
	.itemProduct{
		height: 110px;
	}
	.wrapperSavat h1{
		font-size: 25px;
	}
	.nameItem a{
		font-size: 16px;
	}
	.cost{
		font-size: 15px;
	}
	.nameItem{
		left: 96px;
	}
	.costRank{
		bottom: 10px;
		left: 96px;
	}
	.typ{
		bottom: 25px;
	}
	.itemBtn button a{
		font-size: 13px!important;
	}
	.itemBtn button{
		padding: none!important;
		border: none!important;
		background: none!important;
	}
	.itemBtn button:hover{
		background: none!important;
		color: grey!important;
	}
	.itemBtn{
		right: 3px;
		bottom: 10px;
	}
}
@media only screen and (max-width: 513px) {
	.products{
		grid-template-columns:50% 50%;
	}
	.logo{
		display: none;
	}
	nav ul li input{
		width: 100%;
	}

	

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1093px) {
	.sideBar{
		transform: translateX(-100%);
	}
	.products{
		margin-left: 25px;
	}
	.resS{
		display: none;
	}
	.resD{
		display: inline-block;
	}
	.filterBar{
		display: inline-block;
	}

}
@media only screen and (min-width: 1093px) {
	.sideBar{
		transform: translateX(0)!important;
	}
	.closeBtn{
		display: none!important;
	}
}
@media only screen and (max-width: 940px) {
	#savat .container{
		grid-template-columns: 100%;
	}
	.wrapperSavat{
		margin-bottom: 30px;
	}
	.wrapperSavat{
		width: 100%;
	}
}