@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	user-select: none;
}
.red{
	color: crimson!important;
	transition: .5s ease;
	transform: scale(1.2);
	filter: drop-shadow(0 0 4px crimson);
}
.fa-bars{
	cursor: pointer;
}
.container{
	max-width: 90%;
	margin: auto;
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Scrollbar */
nav{
	width: 100%;
	position: fixed;
	height: 80px;
	box-shadow: 0 0 3px 2px #999;
	background: #fff;
	z-index: 10;
}
nav .container{
	display: flex;
	justify-content: space-around;
}
nav ul{
	display: flex;
	list-style: none;
	float: right;
}
nav ul li{
	margin: 23px 10px;
}
nav ul li:first-child{
	margin: 5px 10px !important;
}
nav ul li a{
	color: #333;
	font-size: 20px;
	text-decoration: none;
	padding:5px 10px;
	border-radius: 5px;
	transition: .5s ease;
}
nav ul li input{
	margin: 15px 10px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 400px;
	border:none;
	outline: none;
	font-size: 23px;
	border: 2px solid #999;
	color: grey;
}
.logo h1{
	font-size: 37px;
	color: #444;
	margin: 15px 10px;
}
.logo h1 a{
	text-decoration: none;
	color: #444;
}
nav ul li a:hover{
	background: #999;
	color: #fff;
}
.resD{
	display: none;
}
.resD a i{
	font-size: 35px;
	padding-top: 5px;
	color: grey;
}
.resD a:hover{
	background: #fff;
}

.inpSe{
	position: absolute;
	top: 26px;
	right: 18px;
	font-size: 21px;
	color: grey;
}
.products{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	margin-left: 280px;
	gap: 10px;
	
}
.card{
	width: 220px;
	height: 400px;
	margin: 10px 0;
	box-shadow:0 0 3px 2px #999;
	border-radius: 15px;
	background: #fff;
}
.productImg{
	width: 100%;
	overflow: hidden;
}
.productImg img{
	width: 100%;
	transition: .5s ease;
	cursor: pointer;
	border-radius: 15px;
	height: 235px;
}
.productImg img:hover{
	filter: brightness(0.8);
}
.productBody h3{
	color: #333;
	padding: 3px;
}
.productBody .rank {
	color: #333;
	padding: 3px;
}
.productBody .rank i{
	color: #FFD800FF;
}
.productBody p{
	font-size: 23px;
	font-weight: bold;
	color: grey;
	position: absolute;
	bottom: 15px;
	left: 5px;
}
.pre{
	position: relative;
}
.pab{
	position: absolute;
}
.buyBtn{
	bottom: 15px;
	right: 15px;
}
.buyBtn button{
	padding: 1px 7px;
	color: #333;
	border: none;
	border-radius: 10px;
	font-size: 21px;
	cursor: pointer;
	transition: .5s ease;
}
.buyBtn button:hover{
	background: #999;
}
.likeProduct{
	top: 5px;
	right: 10px;	
}
.likeProduct i{
font-size: 21px;
	color: grey;
	cursor: pointer;
}
.namePro{
	color: #fff;
	background: #222;
	padding: 1px 3px;
	border-radius: 5px;
	bottom: 8px;
	right: 0;
}

/* Sidebar */
.closeBtn{
	right: 20px;
	font-size: 25px;
	color: grey;
	cursor: pointer;
	transition: .5s ease;
	padding: 5px 10px;
	display: none;
}
.closeBtn:hover{
	background: #AFAFAF5B;
	border-radius: 10px;
}
.filterBar{
	position: fixed;
	left: 7px;
	top: 90px;
	cursor: pointer;
	padding: 5px 10px;
	transition: .5s ease;
	border-radius: 5px;
	display: none;
	z-index: 1;
}
.filterBar:hover{
	background: #AAAAAA50;
	color: #fff;
}
.filterBar i{
	color: grey;
	font-size: 25px;
}
.sideBar{
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	width: 300px;
	height: 100vh;
	z-index: 9;
	overflow: scroll;
	padding: 100px 30px 0 30px;
	overflow-y: scroll;
	box-shadow: 0 0 3px 2px grey;
	transition: 1s ease;
	transform: translateX(0);
}

.filter{
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease;
	padding: 2px 5px;
	border-radius: 5px;
}
.filter:hover{
	background: #AFAFAF80;
}
.inR{
	margin-left: 10px;
	transition: .5s ease;
}
.inR p{
	cursor: pointer;
	transition: .5s ease;
	padding: 3px 5px;
	color: grey;
	display: block;
	border-left: 2px solid grey;
}
.inR p:hover{
	background: #AFAFAF80;
	border-radius: 5px;
}
/* Menu Bar */
.menubg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #00000060;
	z-index: 100;
	transform: translateX(100%);
	transition: .5s ease;

}
.menuBar{
	position: fixed;
	right: 0;
	bottom: 0;
	background: #fff;
	width: 300px;
	height: 100vh;
	z-index: 9;
	padding: 100px 30px 0 30px;
	overflow-y: scroll;
	box-shadow: 0 0 3px 2px grey;
	transition: 1s ease;
}
.menuBar li{
	list-style: none;
	transition: .5s ease;
	margin: 20px 0;
}
.menuBar li a{
	text-decoration: none;
	color: grey;
	font-size: 20px;
	transition: .5s ease;
	padding: 5px 10px;
	border-bottom: 3px solid grey;
}
.menuBar li i{
	margin-right: 7px;
}
.menuBar li a:hover{
	background: grey;
	color: #fff;
	border-radius: 5px;
}
.menuBar .footI{
	bottom: 0;
	right: 15px;
}
.menuBar li:first-child{
	position: absolute;
	top: 30px;
	font-size: 35px;
	margin-bottom: 20px;
}
.menuBar li:first-child a{
	font-size: 45px;
	font-weight: bold;
	border-bottom: none;
}
.menuBar li:first-child a:hover{
	background: #fff;
	color: grey;
	border-bottom: none;
}
.menuBar .closeBtn1{
	right: 20px;
	font-size: 25px;
	color: grey;
	cursor: pointer;
	transition: .5s ease;
	padding: 5px 10px;
	top: 10px;
}
.closeBtn1:hover{
	background: #AFAFAF5B;
	border-radius: 10px;
}
/* End Menu Bar */


/* Login Page */
#login{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.loginControl{
	width: 300px;
	min-height: 330px;
	box-shadow: 0 0 3px 2px #999;
	border-radius: 10px;
	color: grey;
	padding: 9px;
}
.loginControl h1{
	text-align: center;
	font-size: 30px;
}

.form-control{
	width: 100%;
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
	border: 2px solid grey;
	font-size: 22px;
	margin: 5px 0 10px 0;
}
.formBtn{
	padding: 5px 10px;
	font-size: 22px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid grey;
	background: #fff;
	color: grey;
	transition: .5s ease;
	width: 100%;
	margin-top: 10px;
}
.formBtn:hover{
	background: grey;
	color: #fff;
	filter: drop-shadow(0 0 8px grey);
}
/* End Login PAge */

/* Savat Page */
#savat .container {
	display: grid;
	grid-template-columns: 65% 35%;
}
.wrapperCost{
	width: 100%;
	min-height: 100%;
	box-shadow:0 0 3px 2px grey;
	border-radius: 5px;
	padding: 10px;
}
.wrapperCost p{
	font-size: 21px;
}
.wrapperSavat{
	width: 90%;
	height:80vh ;
	overflow: auto;
	box-shadow:0 0 3px 2px grey;
	border-radius: 5px;
}
.wrapperSavat h1{
	font-size: 33px;
	color: #555;
	text-align: center;
}
.itemProduct{
	height: 200px;
	border-radius: 20px;
	box-shadow: 0 0 3px 2px #999;
	margin: 10px 20px;
	display: flex;
}
.itemProduct .imgHead{
	width: 40px;
	height: 60px;
}
.itemProduct .imgHead img{
	width: 176px;
	height: 200px;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.nameItem a{
	text-decoration: none;
	font-size: 23px;
	color: #444;
}
.itemBtn{
	right: 10px;
	bottom: 10px;
}
.itemBtn button{
	padding: 5px 10px;
	border:2px solid grey;
	background: #fff;
	transition: .5s ease;
	border-radius: 5px;
	cursor: pointer;

}
.itemBtn button a{
	color: grey;
	text-decoration: none;
	font-size: 18px;
}
.itemBtn button:first-child:hover{
	background: crimson;
	border:2px solid crimson;
}
.itemBtn button:first-child:hover a{
	color: #fff;
}
.itemBtn button:nth-child(2):hover{
	border:2px solid crimson;
}
.itemBtn button:nth-child(2):hover a{
	color: crimson;
	filter: drop-shadow(0 0 7px crimson);
}
.nameItem{
	left: 186px;
}
.costRank{
	bottom: 10px;
	left: 186px;
}
.typ{
	bottom:60px;
	color: #999;
	font-size: 20px;
}
.cost{
	font-size: 24px;
	color: #333;
	font-weight: bold;
}
.djs{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

/* End Savat Page */